sysdigcsv/*.csv
config/sysdig_config.txt
log/sysdig-mediator.log
log/sysdig-mediator-historical.log
log/sysdigApiOutput.json
log/sysdigApiOutput-clusterStats.json
log/sysdigApiOutput-deploymentStats.json
log/sysdigApiOutput.json
log/sysdigApiOutput-namespaceStats.json
log/sysdigApiOutput-nodeStats.json
sysdigcsv-backup-pretschange/
