sysdigcsv/*.csv
config/sysdig_config.txt
log/sysdig-mediator.log
log/sysdig-mediator-historical.log
log/sysdigApiOutput.json
sysdigApiOutput-clusterStats.json
sysdigApiOutput-deploymentStats.json
sysdigApiOutput.json
sysdigApiOutput-namespaceStats.json
sysdigApiOutput-nodeStats.json
